<h1>New division</h1>

<form action="/wizard_divide">
  <label for="3">
    Divide this:
  </label>
  <input id="3" name="first_number" text="text">

  <label for="">
    by this:
  </label>
  <input id="" name="second_number" text="text">

  <button>
    Divide!
  </button>
</form>
